services:   
  nest-app:
    build: 
      context: .
      dockerfile: Dockerfile.prod
    container_name: nest-app-prod
    restart: always
    env_file:
      - .env.production
    command: npm run start:prod
    ports:
      - "3000:3000"
